@font-face {
  src: url(../fonts/signwood-font/SignwoodItalic-2v1Jl.ttf);
  font-family: Signwood;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  --active-color: #ff4500;
}

body {
  margin: 0 auto 0 auto;
  width: 100%;
  max-width: 80ch;
  min-height: 100vh;
  line-height: 1.5;
  font-family: Signwood;
}

header {
  display: flex;
  top: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.4rem;
}

footer {
  display: flex;
  position: sticky;
  bottom: 0;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 0;
}

h1 {
  font-size: 32pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-size: 18pt;
}

a {
  transition: color 0.4s;
  color: inherit;
  font-weight: 700;
  text-decoration: inherit;
}

a:hover {
  transition: color 0.4s;
  color: var(--active-color);
}

button,
input,
select {
  transition: border-color 0.35s;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 18pt;
  font-family: Signwood;
}

button:hover,
input:hover,
select:hover {
  border-color: var(--active-color);
}

button:focus,
button:focus-visible,
input:focus,
input:focus-visible,
select:focus,
select:focus-visible {
  outline: 2px solid var(--active-color);
}

.reminder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: border-color 0.35s;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 8px;
  list-style: none;
}

.reminder:hover {
  border-color: var(--active-color);
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 1.2rem;
}

#textInputs {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

#reminderList {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  padding-bottom: 1rem;
}

#githubLink {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
